.root {
  -fx-background-image: url("/${packageInPathFormat}/gui/images/login-and-about.png");
  -fx-background-repeat: stretch;
  -fx-background-size: 550 300;
  -fx-background-position: center center;
  -fx-min-width: 550;
  -fx-min-height: 300;
}