
/* no borders and shadows and alike */
.root {
  -fx-background-color: transparent;
  -fx-border-color: transparent;
}

.table-view {
  -fx-table-cell-border-color: transparent;
  -fx-box-border: transparent;
}

.table-cell {
  -fx-background-color: transparent;
}

.table-row-cell {
  -fx-background-color: transparent;
}

.title {
  -fx-font-weight: bold;
}

.bottomline {
  -fx-text-fill: gray;
  -fx-border-width: 1;
  -fx-border-color: gray transparent transparent transparent;
}

.totals {
  -fx-border-width: 1;
  -fx-border-color: black transparent transparent transparent;
  -fx-font-weight: bold;
}


/* Hide the horizontal scrollbar for sure */
.scroll-bar:horizontal .track {
  -fx-padding: 0px;
	-fx-background-color: transparent;
	-fx-border-color: transparent;
	-fx-background-radius: 0em;
	-fx-border-radius: 2em;
}
.scroll-bar:horizontal .increment-button,
.scroll-bar:horizontal .decrement-button {
  -fx-background-color: transparent;
  -fx-background-radius: 0em;
  -fx-padding: 0 0 0 0;
}
.scroll-bar:horizontal .increment-arrow,
.scroll-bar:horizontal .decrement-arrow {
	-fx-shape: " ";
	-fx-padding: 0;
}
.scroll-bar:horizontal .thumb {
  -fx-background-color: transparent;
  -fx-background-insets: 0, 0, 0;
  -fx-background-radius: 2em;
  -fx-padding: 0px;
}

/* Hide the vertical scrollbar for sure */
.scroll-bar:vertical .track {
  -fx-padding: 0px;
	-fx-background-color: transparent;
	-fx-border-color: transparent;
	-fx-background-radius: 0em;
	-fx-border-radius: 2em;
}
.scroll-bar:vertical .increment-button,
.scroll-bar:vertical .decrement-button {
  -fx-background-color: transparent;
  -fx-background-radius: 0em;
  -fx-padding: 0 0 0 0;
}
.scroll-bar:vertical .increment-arrow,
.scroll-bar:vertical .decrement-arrow {
	-fx-shape: " ";
	-fx-padding: 0;
}
.scroll-bar:vertical .thumb {
  -fx-background-color: transparent;
  -fx-background-insets: 0, 0, 0;
  -fx-background-radius: 2em;
  -fx-padding: 0px;
}
