.root {
  -fx-background-image: url("/${packageInPathFormat}/gui/images/login-and-about.png");
  /*-fx-background-repeat: stretch;*/
  -fx-background-size: 550 300;
  -fx-background-position: center;
  -fx-min-width: 550;
  -fx-min-height: 300;
  -fx-effect: innershadow(gaussian, lightgray, 2, 1.0, 0, 0);
}

#messageLabel {
  -fx-padding: 0 0 0 150;
}

#progressBar {
  -fx-padding: 5 0 5 150;
}
