
package ${domainPackage};

import ${pdoPackage}.${pdoInterface};
import org.tentackle.pdo.DomainObject;


/**
 * Domain interface for ${pdoInterface}.
 */
<#if pdoInheritance != "NONE">
public interface ${domainInterface}<T extends ${pdoInterface}<T>> extends ${superDomainInterface}<T> {
<#else>
public interface ${domainInterface} extends ${superDomainInterface}<${pdoInterface}> {
</#if>

}
