
body {
    background-color:#ffffff;
    color:#353833;
    font-family:'DejaVu Sans', Arial, Helvetica, sans-serif;
    font-size:14.0px;
    margin:0.0;
}
a:link, a:visited {
    text-decoration:none;
    color:#00305e;
}
a:hover, a:focus {
    text-decoration:none;
    color:#f18319;
}
a:active {
    text-decoration:none;
    color:#f18319;
}
a[name] {
    color:#353833;
}
a[name]:hover {
    text-decoration:none;
    color:#353833;
}
pre {
    font-family:'DejaVu Sans Mono', monospace;
    font-size:14.0px;
}
h1 {
    font-size:20.0px;
}
h2 {
    font-size:18.0px;
}
h3 {
    font-size:16.0px;
    font-style:italic;
}
h4 {
    font-size:13.0px;
}
h5 {
    font-size:12.0px;
}
h6 {
    font-size:11.0px;
}
ul {
    list-style-type:disc;
}
code, tt {
    font-family:'DejaVu Sans Mono', monospace;
    font-size:14.0px;
    padding-top:4.0px;
    margin-top:8.0px;
    line-height:1.4em;
}
dt code {
    font-family:'DejaVu Sans Mono', monospace;
    font-size:14.0px;
    padding-top:4.0px;
}
table tr td dt code {
    font-family:'DejaVu Sans Mono', monospace;
    font-size:14.0px;
    vertical-align:top;
    padding-top:4.0px;
}
sup {
    font-size:8.0px;
}

.clear {
    clear:both;
    height:0.0px;
    overflow:hidden;
}
.aboutLanguage {
    float:right;
    padding:0.0px 21.0px;
    font-size:11.0px;
    z-index:200.0;
    margin-top:-9.0px;
}
.legalCopy {
    margin-left:0.5em;
}
.bar a, .bar a:link, .bar a:visited, .bar a:active {
    color:#FFFFFF;
    text-decoration:none;
}
.bar a:hover, .bar a:focus {
    color:#f18319;
}
.tab {
    background-color:#0066FF;
    color:#ffffff;
    padding:8.0px;
    width:5.0em;
    font-weight:bold;
}

.bar {
    background-color:#00305e;
    color:#FFFFFF;
    padding:0.8em 0.5em 0.4em 0.8em;
    height:auto;/*height:1.8em;*/
    font-size:11.0px;
    margin:0.0;
}
.topNav {
    background-color:#00305e;
    color:#FFFFFF;
    float:left;
    padding:0.0;
    width:100.0%;
    clear:right;
    height:2.8em;
    padding-top:10.0px;
    overflow:hidden;
    font-size:12.0px;
}
.bottomNav {
    margin-top:10.0px;
    background-color:#00305e;
    color:#FFFFFF;
    float:left;
    padding:0.0;
    width:100.0%;
    clear:right;
    height:2.8em;
    padding-top:10.0px;
    overflow:hidden;
    font-size:12.0px;
}
.subNav {
    background-color:#dee3e9;
    float:left;
    width:100.0%;
    overflow:hidden;
    font-size:12.0px;
}
.subNav div {
    clear:left;
    float:left;
    padding:0.0 0.0 5.0px 6.0px;
    text-transform:uppercase;
}
ul.navList, ul.subNavList {
    float:left;
    margin:0.0 25.0px 0.0 0.0;
    padding:0.0;
}
ul.navList li{
    list-style:none;
    float:left;
    padding: 5.0px 6.0px;
    text-transform:uppercase;
}
ul.subNavList li{
    list-style:none;
    float:left;
}
.topNav a:link, .topNav a:active, .topNav a:visited, .bottomNav a:link, .bottomNav a:active, .bottomNav a:visited {
    color:#FFFFFF;
    text-decoration:none;
    text-transform:uppercase;
}
.topNav a:hover, .bottomNav a:hover {
    text-decoration:none;
    color:#f18319;
    text-transform:uppercase;
}
.navBarCell1Rev {
    background-color:#f18319;
    color:#fff;
    margin: auto 5.0px;
}
.skipNav {
    position:absolute;
    top:auto;
    left:-9999.0px;
    overflow:hidden;
}

.header, .footer {
    clear:both;
    margin:0.0 20.0px;
    padding:5.0px 0.0 0.0 0.0;
}
.indexHeader {
    margin:10.0px;
    position:relative;
}
.indexHeader span{
    margin-right:15.0px;
}
.indexHeader h1 {
    font-size:13.0px;
}
.title {
    color:#2c4557;
    margin:10.0px 0.0;
}
.subTitle {
    margin:5.0px 0.0 0.0 0.0;
}
.header ul {
    margin:0.0 0.0 15.0px 0.0;
    padding:0.0;
}
.footer ul {
    margin:20.0px 0.0 5.0px 0.0;
}
.header ul li, .footer ul li {
    list-style:none;
    font-size:13.0px;
}

div.details ul.blockList ul.blockList ul.blockList li.blockList h4, div.details ul.blockList ul.blockList ul.blockListLast li.blockList h4 {
    background-color:#dee3e9;
    border:1.0px solid #d0d9e0;
    margin:0.0 0.0 6.0px -8.0px;
    padding:7.0px 5.0px;
}
ul.blockList ul.blockList ul.blockList li.blockList h3 {
    background-color:#dee3e9;
    border:1.0px solid #d0d9e0;
    margin:0.0 0.0 6.0px -8.0px;
    padding:7.0px 5.0px;
}
ul.blockList ul.blockList li.blockList h3 {
    padding:0.0;
    margin:15.0px 0.0;
}
ul.blockList li.blockList h2 {
    padding:0.0px 0.0 20.0px 0.0;
}

.contentContainer, .sourceContainer, .classUseContainer, .serializedFormContainer, .constantValuesContainer {
    clear:both;
    padding:10.0px 20.0px;
    position:relative;
}
.indexContainer {
    margin:10.0px;
    position:relative;
    font-size:12.0px;
}
.indexContainer h2 {
    font-size:13.0px;
    padding:0.0 0.0 3.0px 0.0;
}
.indexContainer ul {
    margin:0.0;
    padding:0.0;
}
.indexContainer ul li {
    list-style:none;
    padding-top:2.0px;
}
.contentContainer .description dl dt, .contentContainer .details dl dt, .serializedFormContainer dl dt {
    font-size:12.0px;
    font-weight:bold;
    margin:10.0px 0.0 0.0 0.0;
    color:#4E4E4E;
}
.contentContainer .description dl dd, .contentContainer .details dl dd, .serializedFormContainer dl dd {
    margin:5.0px 0.0 10.0px 0.0px;
    font-size:14.0px;
    font-family:'DejaVu Sans Mono',monospace;
}
.serializedFormContainer dl.nameValue dt {
    margin-left:1.0px;
    font-size:1.1em;
    display:inline;
    font-weight:bold;
}
.serializedFormContainer dl.nameValue dd {
    margin:0.0 0.0 0.0 1.0px;
    font-size:1.1em;
    display:inline;
}

ul.horizontal li {
    display:inline;
    font-size:0.9em;
}
ul.inheritance {
    margin:0.0;
    padding:0.0;
}
ul.inheritance li {
    display:inline;
    list-style:none;
}
ul.inheritance li ul.inheritance {
    margin-left:15.0px;
    padding-left:15.0px;
    padding-top:1.0px;
}
ul.blockList, ul.blockListLast {
    margin:10.0px 0.0 10.0px 0.0;
    padding:0.0;
}
ul.blockList li.blockList, ul.blockListLast li.blockList {
    list-style:none;
    margin-bottom:15.0px;
    line-height:1.4;
}
ul.blockList ul.blockList li.blockList, ul.blockList ul.blockListLast li.blockList {
    padding:0.0px 20.0px 5.0px 10.0px;
    border:1.0px solid #ededed;
    background-color:#f8f8f8;
}
ul.blockList ul.blockList ul.blockList li.blockList, ul.blockList ul.blockList ul.blockListLast li.blockList {
    padding:0.0 0.0 5.0px 8.0px;
    background-color:#ffffff;
    border:none;
}
ul.blockList ul.blockList ul.blockList ul.blockList li.blockList {
    margin-left:0.0;
    padding-left:0.0;
    padding-bottom:15.0px;
    border:none;
}
ul.blockList ul.blockList ul.blockList ul.blockList li.blockListLast {
    list-style:none;
    border-bottom:none;
    padding-bottom:0.0;
}
table tr td dl, table tr td dl dt, table tr td dl dd {
    margin-top:0.0;
    margin-bottom:1.0px;
}

.overviewSummary, .memberSummary, .typeSummary, .useSummary, .constantsSummary, .deprecatedSummary {
    width:100.0%;
    border-left:1.0px solid #EEE;
    border-right:1.0px solid #EEE;
    border-bottom:1.0px solid #EEE;
}
.overviewSummary, .memberSummary  {
    padding:0.0px;
}
.overviewSummary caption, .memberSummary caption, .typeSummary caption,
.useSummary caption, .constantsSummary caption, .deprecatedSummary caption {
    position:relative;
    text-align:left;
    background-repeat:no-repeat;
    color:#00305e;
    font-weight:bold;
    clear:none;
    overflow:hidden;
    padding:0.0px;
    padding-top:10.0px;
    padding-left:1.0px;
    margin:0.0px;
    white-space:pre;
}
.overviewSummary caption a:link, .memberSummary caption a:link, .typeSummary caption a:link,
.useSummary caption a:link, .constantsSummary caption a:link, .deprecatedSummary caption a:link,
.overviewSummary caption a:hover, .memberSummary caption a:hover, .typeSummary caption a:hover,
.useSummary caption a:hover, .constantsSummary caption a:hover, .deprecatedSummary caption a:hover,
.overviewSummary caption a:active, .memberSummary caption a:active, .typeSummary caption a:active,
.useSummary caption a:active, .constantsSummary caption a:active, .deprecatedSummary caption a:active,
.overviewSummary caption a:visited, .memberSummary caption a:visited, .typeSummary caption a:visited,
.useSummary caption a:visited, .constantsSummary caption a:visited, .deprecatedSummary caption a:visited {
    color:#FFFFFF;
}
.overviewSummary caption span, .memberSummary caption span, .typeSummary caption span,
.useSummary caption span, .constantsSummary caption span, .deprecatedSummary caption span {
    white-space:nowrap;
    padding-top:5.0px;
    padding-left:12.0px;
    padding-right:12.0px;
    padding-bottom:7.0px;
    display:inline-block;
    float:left;
    background-color:#f18319;
    color:#fff;
    border: none;
    height:16.0px;
}
.memberSummary caption span.activeTableTab span {
    white-space:nowrap;
    padding-top:5.0px;
    padding-left:12.0px;
    padding-right:12.0px;
    margin-right:3.0px;
    display:inline-block;
    float:left;
    background-color:#f18319;
    color:#fff;
    height:16.0px;
}
.memberSummary caption span.tableTab span {
    white-space:nowrap;
    padding-top:5.0px;
    padding-left:12.0px;
    padding-right:12.0px;
    margin-right:3.0px;
    display:inline-block;
    float:left;
    background-color:#00305e;
    height:16.0px;
}
.memberSummary caption span.tableTab, .memberSummary caption span.activeTableTab {
    padding-top:0.0px;
    padding-left:0.0px;
    padding-right:0.0px;
    background-image:none;
    float:none;
    display:inline;
}
.overviewSummary .tabEnd, .memberSummary .tabEnd, .typeSummary .tabEnd,
.useSummary .tabEnd, .constantsSummary .tabEnd, .deprecatedSummary .tabEnd {
    display:none;
    width:5.0px;
    position:relative;
    float:left;
    background-color:#f18319;
    color:#fff;
}
.memberSummary .activeTableTab .tabEnd {
    display:none;
    width:5.0px;
    margin-right:3.0px;
    position:relative;
    float:left;
    background-color:#f18319;
    color:#fff;
}
.memberSummary .tableTab .tabEnd {
    display:none;
    width:5.0px;
    margin-right:3.0px;
    position:relative;
    background-color:#00305e;
    float:left;

}
.overviewSummary td, .memberSummary td, .typeSummary td,
.useSummary td, .constantsSummary td, .deprecatedSummary td {
    text-align:left;
    padding:0.0px 0.0px 12.0px 10.0px;
}
th.colOne, th.colFirst, th.colLast, .useSummary th, .constantsSummary th,
td.colOne, td.colFirst, td.colLast, .useSummary td, .constantsSummary td{
    vertical-align:top;
    padding-right:0.0px;
    padding-top:8.0px;
    padding-bottom:3.0px;
}
th.colFirst, th.colLast, th.colOne, .constantsSummary th {
    background:#dee3e9;
    text-align:left;
    padding:8.0px 3.0px 3.0px 7.0px;
}
td.colFirst, th.colFirst {
    white-space:nowrap;
    font-size:13.0px;
}
td.colLast, th.colLast {
    font-size:13.0px;
}
td.colOne, th.colOne {
    font-size:13.0px;
}
.overviewSummary td.colFirst, .overviewSummary th.colFirst,
.useSummary td.colFirst, .useSummary th.colFirst,
.overviewSummary td.colOne, .overviewSummary th.colOne,
.memberSummary td.colFirst, .memberSummary th.colFirst,
.memberSummary td.colOne, .memberSummary th.colOne,
.typeSummary td.colFirst{
    width:25.0%;
    vertical-align:top;
}
td.colOne a:link, td.colOne a:active, td.colOne a:visited, td.colOne a:hover, td.colFirst a:link, td.colFirst a:active, td.colFirst a:visited, td.colFirst a:hover, td.colLast a:link, td.colLast a:active, td.colLast a:visited, td.colLast a:hover, .constantValuesContainer td a:link, .constantValuesContainer td a:active, .constantValuesContainer td a:visited, .constantValuesContainer td a:hover {
    font-weight:bold;
}
.tableSubHeadingColor {
    background-color:#EEEEFF;
}
.altColor {
    background-color:#FFFFFF;
}
.rowColor {
    background-color:#EEEEEF;
}

.description pre {
    margin-top:0.0;
}
.deprecatedContent {
    margin:0.0;
    padding:10.0px 0.0;
}
.docSummary {
    padding:0.0;
}

ul.blockList ul.blockList ul.blockList li.blockList h3 {
    font-style:normal;
}

div.block {
    font-size:14.0px;
    font-family:'DejaVu Serif', Georgia, "Times New Roman", Times, serif;
}

td.colLast div {
    padding-top:0.0px;
}


td.colLast a {
    padding-bottom:3.0px;
}

.sourceLineNo {
    color:green;
    padding:0.0 30.0px 0.0 0.0;
}
h1.hidden {
    visibility:hidden;
    overflow:hidden;
    font-size:10.0px;
}
.block {
    display:block;
    margin:3.0px 10.0px 2.0px 0.0px;
    color:#474747;
}
.deprecatedLabel, .descfrmTypeLabel, .memberNameLabel, .memberNameLink,
.overrideSpecifyLabel, .packageHierarchyLabel, .paramLabel, .returnLabel,
.seeLabel, .simpleTagLabel, .throwsLabel, .typeNameLabel, .typeNameLink {
    font-weight:bold;
}
.deprecationComment, .emphasizedPhrase, .interfaceName {
    font-style:italic;
}

div.block div.block span.deprecationComment, div.block div.block span.emphasizedPhrase,
div.block div.block span.interfaceName {
    font-style:normal;
}

div.contentContainer ul.blockList li.blockList h2{
    padding-bottom:0.0px;
}
